<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Shade|Codystar|Limelight|Monoton|Poppins|Raleway+Dots|Vast+Shadow" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/blocmetrics.css">
    <title>Yun Ju Hong</title>
  </head>
  <body>

    <header class="v-header container">
        <nav>
          <div class="logo">
            <h1>Yun Ju Hong</h1>
          </div>
          <ul class="menu">
            <li><a href="landingpage.html#sec0">Home</a></li>
            <li><a href="landingpage.html#sec1">Portolio</a></li>
            <li><a href="landingpage.html#sec2">About</a></li>
            <li><a href="landingpage.html#sec3">Contact Us</a></li>
          </ul>
          <div class="burger">
            <div class="line1">
            </div>
            <div class="line2">
            </div>
            <div class="line3">
            </div>
          </div>
        </nav>

        <div class="blocmetrics-header-content">
          <div class="blocmetrics-summary">
            <h1>BLOCMETRICS</h1>
            <p>APP DEVELOPMENT</p>
          </div>
          <div class="blocmetrics-nav">
            <ul class="list-nav">
              <li><a href="blocmetrics.html#blocmetrics-overview">Overview</a></li>
              <li><a href="blocmetrics.html#blocmetrics-solution">Solution</a></li>
              <li><a href="blocmetrics.html#blocmetrics-results">Results</a></li>
            </ul>
          </div>
        </div>


    </header>

    <section id="blocmetrics-overview">
      <h1>OVERVIEW</h1>
      <p>BlocMetrics is a server-side API tool that tracks events on websites, similar to Google Analytics.
        My goals for this project are to create a client-side JavaScript snippet that allows a user to track events on their website.
        This project is essentially a server-side API that captures and saves those events to a database.
      </p>
      <img src="/assets/images/blocmetrics-user.jpg">
    </section>

    <section id="blocmetrics-solution">
      <h1>SOLUTION</h1>
      <p>
        We utilized the devise gem for authentication.
        This is an easy way to allow users to sign up for accounts and to receive email confirmations.
        Refer to the devise gem information linked <a href="https://github.com/plataformatec/devise">here</a>.
        Blocmetrics should track events from multiple applications. T
        herefore, we need to register each application with a unique attribute, or its URL, so that when Blocmetrics receives an event, it knows which application to associate the event.
        We have the code for the registered applications controller with the appropriate CRUD actions.
      </p>
      <div class="code-parent">
        <code>
          <pre>
            def create
              @registered_application = RegisteredApplication.new(app_params)
              @registered_application.user = current_user
              if @registered_application.save
                flash[:notice] = "Application was saved into the system!"
                redirect_to @registered_application
              else
                flash[:notice] = "There was an error!"
                render :new
              end
            end

            def update
              @registered_application = RegisteredApplication.find(params[:id])
              @registered_application.name = params[:registered_application][:name]
              @registered_application.url = params[:registered_application][:url]
              if @registered_application.save
                flash[:notice] = "Application was saved into the system!"
                redirect_to @registered_application
              else
                flash[:notice] = "There was an error!"
                render :edit
              end
            end

            def destroy
              @registered_application = RegisteredApplication.find(params[:id])
              if @registered_application.destroy
                flash[:notice] = "\"#{@registered_application.name}\" was deleted successfully."
                redirect_to registered_applications_path
              else
                flash.now[:alert] = "There was an error deleting the app."
                render :show
              end
            end
          </pre>
        </code>
      </div>
      <p>
        We need to make sure that our CRUD actions are accessed in our views.
        Our create action and views should be able to create a new registration associated with a user.
        Our delete action should de-register and destroy the application registration.
        As always, we need to be able to test our code. And ask several questions:
      </p>
      <div class="questions">
        <ul>
          <li>Are you able to register multiple applications?</li>
          <li>Are the registered applications displayed after creation?</li>
          <li>Are you able to de-register and then re-register an application by the same name?</li>
          <li>Are you able to view an index of registered applications?</li>
        </ul>
      </div>
      <p>
        When Blocmetrics receives an event, it should store the name of the event.
        This will be done through the event model that is associated with a registered application with an event name attribute.
        At this point of the project, I seeded the database to test my application with some fake data.
        I used the Faker gem to simulate tracked events.
      </p>

      <!-- <code>
        <pre>
          <h1><%= @registered_application.name %></h1>
          <p><%=@registered_application.url %></p>
          <% @events.each do |key, value| %>
          <h6><%= key %>: <%= value.size %></h6>
          <% end %>
          <p><%= @events.count %> events exist for this app</p>
          <div class="col-md-4">
          <%= link_to "Edit", edit_registered_application_path(@registered_application), class: 'btn btn-success' %>
        </pre>
      </code> -->
      <p>
        At this point of the project, we want to work with real time data.
        In order for Blocmetrics to receive incoming events from registered applications, we will need an API controller and routes.
        <br>
        <br>
        Our events controller needs to match our API route.
        In order to find the registered application that matches the source of the API request, we use request.env['HTTP_ORIGIN'].
        If we find an API request from an unregistered application, we would get a return of nil.
        We need to return an error to the requestor if this happens.
        If the event saves successfully in API::EventsController#create, we want to return a success message.
      </p>
      <h1>
        CORS
      </h1>

      <p>
        Client side Javascript code will need to send an AJAX request to the Blocmetrics API so that we can store events.
        Due to security risks, browsers normally don't allow cross-origin requests.
        This is where cross-origin resource sharing comes in (CORS).
        CORS works by making preliminary request to the target server, asking if the cross-domain request will be permitted.
        This uses HTTP OPTION verb, which is not part of Rails' restful routes.
        An OPTION request precedes a GET or POST request and checks whether the route accepts a cross-origin request.
        We need to set CROS response headers so our controller actions will allow POST requests across domains.
        <br>
        <br>
        Lastly, we want to test our API using curl.
        In our terminal, we input:
      </p>
      <div class="code-parent">
        <code>
          <pre>
            $ curl -v -H "Accept: application/json" -H "Origin: http://registered_application.com" -H "Content-Type: application/json" -X POST -d '{"name":"foobar"}'  http://localhost:3000/api/events
          </pre>
        </code>
      </div>

      <p>
        We need to confirm that a new event was created with the event name "foobar" and successfully associated with the registered application.
        We should also confirm with another curl request, that from an unregistered URL, a new event is not created.
        Blocmetrics should be able to track events using JavaScript snippets.
        The only function our snippet needs to support is:
      </p>
      <div class="code-parent">
        <code>
          <pre>
            blocmetrics.report('event name here');
          </pre>
        </code>
      </div>

      <p>
        The function above makes an AJAX request to the server-side API to create the event on our server.
        <br>
        <br>
        We added a JavaScript charting library, Chartkick library into our Gemfile.
      </p>
      <img src="assets/images/blocmetrics_icon.png">
      <p>
        Chartkick can generate an events pie chart.
        In order to create a line chart of events over time, utilize the Groupdate gem.
        We need to confirm that a pie chart of all events and a line graph of all events over time are displayed on our show page of a registered application.
      </p>
      <img src="assets/images/blocmetrics.png">
      </section>

      <section id="blocmetrics-results">
        <h1>Check Out the <a href="https://blocmetrics-jenny.herokuapp.com/">Demo</a></h1>

      </section>

  </body>
</html>
